[user]
	name = Christian Naths
	email = christiannaths@gmail.com
[color]
	ui = true
[pull]
	rebase = false
[http]
	postBuffer = 157286400
[pager]
	branch = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
