[user]
	name = Christian Naths
	email = christiannaths@gmail.com
[color]
	ui = true
[pull]
	rebase = false
[http]
	postBuffer = 157286400
[pager]
	branch = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[diff "daff-csv"]
	command = daff diff --git
[merge "daff-csv"]
	name = daff tabular csv merge
	driver = daff merge --output %A %O %A %B
