[submodule "Zsh/powerline/fonts"]
	path = Zsh/powerline/fonts
	url = https://github.com/powerline/fonts.git
[submodule "Zsh/powerline/powerlevel9k"]
	path = Zsh/powerline/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "Zsh/powerline/nerd-font"]
	path = Zsh/powerline/nerd-font
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "Zsh/fast-syntax-highlighting"]
	path = Zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "Zsh/zsh-autoenv"]
	path = Zsh/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "Zsh/zsh-autosuggestions"]
	path = Zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
